<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GankIO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92A1951B1C4DDF4500416EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92A1952F1C4DDF4500416EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92A1953A1C4DDF4500416EEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
